
body, p {
    margin: 0;
}

/*侧边栏,初始位置为-200px，即隐藏效果*/
aside {
    position: absolute;
    width: 300px;
    height: 100%;
    background: black;
}

/* 切换按钮 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
button {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 13px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
    cursor: pointer;

    /* Just for presentation */
    display: block;
    margin: 5% auto 0 20px;
}

button:active {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    top: 1px;
}

button:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}

/*搜索框*/
.container {
    height: 15%;
    width: 300px;
    margin: 10% auto 0 20px;
}

.parent {
    position: relative;
}

.searchText {
    width: 240px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}

.searchBtn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("topbar.png") no-repeat;
    background-size: 28px 28px;
    top: 6px;
    left: 225px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*列表*/
#sideul li {
    list-style: n;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 11px;
    text-align: left;
}


#sideul li:hover {
    color: orange;
}

/*图谱展示*/
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    width: 120px;
    height: auto;
    font_family: simsun;
    font-size: 8px;
    text_align: center;
    border-style: solid;
    border-width: 1px;
    background-color: beige;
    border-radius: 5px;
}